.App {
  text-align: center;
}
.dashboard-button {
  position: fixed;
  z-index: 2;
}
.profilePageContainer {
  display: flex;
  flex-direction: column;
}
.profileTopContainer {
  height: 14vh;
  display: flex;
  flex-direction: row;
}
.profileTopItems {
  margin-top: 7vh;
  margin-left: 24vw;
}
.profileBottomContainer {
  display: flex;
  flex-direction: row;
}
.leftBanner {
  width: 20vw;
  height: 86vh;
}
.activity {
  width: 80vw;
  height: 86vh;
}
.rightBanner {
  width: 20vw;
  height: 86vh;
}
